* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {

}


.logo {

}

.left-bar li {
    background-color: red;
    display: inline;
    flex-direction: row;
    
    justify-content: space-between;
}


.right-bar li {
    background-color: green;
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
}